body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;

  max-width: 1280px;
  background: url("./assets/pics/pokeball.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(0.9);
  padding-left: 30px;
  color: rgb(247, 230, 230);
}
.wrapper {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
}
/* div {
  margin-bottom: 1rem;
} */
.pokemon-name {
  display: block;
  padding-top: 40px;
  text-transform: capitalize;
  font-weight: bold;
}
#pokemon-id {
  text-transform: capitalize;
  font-weight: bold;
}
img {
  width: 150px;
  height: 150px;
  border: none;
  display: none;
}

img2 {
  width: 150px;
  height: 150px;
  border: none;
  display: none;
}
button {
  background-color: rgb(255, 224, 224);
  border-style: none;
  border: solid 1px black;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}
#moves {
  display: flex;
  flex-direction: column;
  /* margin-left: 45%; */
  text-align: left;
}

.pokemon-moves {
  margin: 10px 0;
}

#evolution {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  /* padding-top: 40px; */
}

#searched {
  margin-left: 10px;
}
#h2 {
  display: none;
}
