body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  max-width: 1280px;
  background-color: rgb(165, 61, 61);
}
.wrapper {
  text-align: center;
  margin: 0 auto;
}
/* div {
  margin-bottom: 1rem;
} */
.pokemon-name {
  text-transform: capitalize;
  font-weight: bold;
}
#pokemon-id {
  text-transform: capitalize;
  font-weight: bold;
}
img {
  width: 200px;
  height: 200px;
  border: none;
  display: none;
}
button {
  background-color: white;
  border-style: none;
  border: solid 1px black;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
#moves {
  display: flex;
  flex-direction: column;
  margin-left: 45%;
  text-align: left;
}

.pokemon-moves {
  margin: 10px 0;
}

.evo {
  display: inline-block;
}
